<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="AnkITTT ranjAn">
        <meta name="description" content="Da Best CuIsiNe EvUh.">
        <title>Indo-blaxIcAn</title>
        <link rel="stylesheet" href="/css/main.css">
        <!-- It's flask, dude. Don't try anything stupid. -->
    </head>
    <body>
        <div>
            <h1>NAmAStE, Mis HOmIeS.</h1>
            <p>WELCoMee 22 DAA <b>inDo-bLaxICan</b>. We'ss izz Uh ReVOlusHun YNNN Da FooD INDusTree. CurRentlee, delIVereeSS IZ $et 222 TAykk PlAce yn <a href="http://gunn.pausd.org/">Gunnn</a> An' <a href="http://paly.pausd.org/">PaleE</a> ynnn Paloo ALtOO DurInn DesIGnATed LUncHtiMES. HowEvuh, We'ss HoPe 2 ExpanD,, $o Peep Outiiii FawR Uhh InDO-blAxiCaN DIvision NeUh U!</p>
        </div>
        <hr>
        <div>
            <h2>MeNuuuu</h2>
            <div>
                <h3>appetizUHS</h3>
                <ul>
                    <li>WatErmelonnn &amp; ManGo FruiTT $Aladddd</li>
                    <li>husH PuppayY PakorAs WIt $Alsa</li>
                    <li>HarLem NAChoSSSSS wiF curree guAcaMoLE</li>
                </ul>
            </div>
            <div>
                <h3>ENtréeS</h3>
                <ul>
                    <li>Curry-sAutéEd FRiedd CHickeNN BuRrOTI</li>
                    <li>MAccc An' CheeSE PaRAthaa taCOS</li>
                    <li>BlaCk-eyeD RajMA WIfff Pico De GallOOO</li>
                </ul>
            </div>
            <div>
                <h3>DeSSErts   &lt;-::SWAG MEEEEEEE OUT::-&rt;</h3>
                <ul>
                    <li>CarAmeL COrNBRead HAlaWa</li>
                </ul>
            </div>
            <p>We's're $TIlll Thinkin O' IDEas BEfOEE WE'ss $tartt DeLIveRee. Yoyooooo <a href="mailto:me@ankit.io">Hit usss Uhp</a> iff CHu gOTSSSSSSS IdeAs Fo' $Ummm Indo-BlaXican CuIsine.</p>
        </div>

        <hr>

        <div>
            <h2>TeaM</h2>

            <p>we's Hvvv Uhh Team O' $Ix $peCIaLizeD CuliNAree Artistss DAT Willl BLo Yo'' Mind wit THuh ConcOcShunS. Iff uu TYNk u HVVV WUttt IT TakeS, U $hould ConsIdUHH Joinin uS.</p>
            <p>hUrr DEayy IZ:</p>

            <dl>

                <dt>ANKit raNJan</dt>
                <dd>Yoo $eniorrr TechnIcall $uppOrt</dd>
                
                <dt>$aWyUH lYthCOTt-HaimSS</dt>
                <dd>$UpreMe LeaDuh o' Daa Lil niggas</dd>

                <dt>MARKKK Aguilera</dt>
                <dd>cHieF janItORiallll OFFiCuHH</dd>

                <dt>AMann MittaLL</dt>
                <dd>hEaD Kebabbb FlippuHH</dd>

                <dt>$hAnNon Yangg</dt>
                <dd>MAnaGuh O' PUblIcccc TAste</dd>

                <dt>ViDUR ThukrAl</dt>
                <dd>Head TurBann FittUH</dd>

            </dl>
        </div>

        <hr>

        <div>
            <h1>LANGuagEs</h1>
            <p>Chu Cayn B $eEin DisherE PaGEEEE YN <a href="indo">HiNdi<a>, <a href="/">EngLISh</a>,,, or <a href="mexican">$paNIsh</a>.
        </div>

        <hr>

        <div style="text-align: center; font-size: 8px;">
            <p>CoPyRightttt 2014 IndO-blaxican.</p>
            <p>MAde WiT &lt;33 (aNDDDDD UH Lot O' Chilli))) FRM DAAA InDO-bLaXicAN TeCh $uPporTTTT tEam. &lt;3</p>
        </div>

        <script>

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-41516705-4', 'indoblaxican.com');
            ga('send', 'pageview');

        </script>
    </body>
</html>