<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Indo-Blaxican</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <!-- It's flask, dude. Don't try anything stupid. -->
    </head>
    <body>
        <h1>Welcome to the Indo-Blaxican</h1>
        <p>We gave up on site design, and decided to focus on the food.</p>
        <h2>Menu</h2>
        <p>We don't really have anything at all, but we're looking for suggestions. <a href="mailto:me@ankit.io">Hit us up</a> if you have ideas for some Indo-Blaxican cuisine.</p>
        <h2>Team</h2>
        <p>Currently, we have a team of three specialized culinary artists that will blow your mind with their concoctions. If you think you have what it takes, you should consider joining us.</p>
    </body>
</html>