<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Indo-Blaxican</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <!-- It's flask, dude. Don't try anything stupid. -->
    </head>
    <body>
        <h1>Welcome to the Indo-Blaxican</h1>
        <p>We gave up on site design, and decided to focus on the food.</p>

        <br>

        <h2>Menu</h2>
        <ul>
            <li>Curry-Sautéed Fried Chicken Tacos</li>
            <li>Watermelon & Mango Fruit Salad</li>
        </ul>
        <p>We're still thinking of ideas before we start delivery. <a href="mailto:me@ankit.io">Hit us up</a> if you have ideas for some Indo-Blaxican cuisine.</p>

        <br>

        <h2>Team</h2>

        <p>We have a team of five (Welcome Aman and Shannon!) specialized culinary artists that will blow your mind with their concoctions. If you think you have what it takes, you should consider joining us.</p>
        <p>Here they are:</p>

        <dl>

            <dt>Ankit Ranjan</dt>
            <dd>Culinary Supervisor & Parseltounge</dd>
            
            <dt>Sawyer Lythcott-Haims</dt>
            <dd>Supreme Leader of the Little People</dd>

            <dt>Mark Aguilera</dt>
            <dd>Chief Janitorial Officer</dd>

            <dt>Aman Mittal</dt>
            <dd>Head Kebab Flipper</dd>

            <dt>Shannon Yang</dt>
            <dd>Manager of Public Taste</dd>

        </dl>
    </body>
</html>