<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Ankit Ranjan">
        <meta name="description" content="The best cuisine ever.">
        <title>Indo-Blaxican</title>
        <link rel="stylesheet" href="/css/main.css">
        <!-- It's flask, dude. Don't try anything stupid. -->
    </head>
    <body>
        <div>
            <h1>Namaste, mis homies.</h1>
            <p>Welcome to the Indo-Blaxican. We are a revolution in food.</p>
        </div>
        <br>
        <div>
            <h2>Menu</h2>
            <div>
                <h3>Appetizers</h3>
                <ul>
                    <li>Watermelon & Mango Fruit Salad</li>
                    <li>Hush Pupppy Pakoras with Salsa</li>
                    <li>Harlem Nachos with Curry Guacamole</li>
                </ul>
            </div>
            <div>
                <h3>Entrées</h3>
                <ul>
                    <li>Curry-Sautéed Fried Chicken Burroti</li>
                    <li>Mac n' Cheese Paratha Tacos</li>
                    <li>Black-eyed Rajma with Pico de Gallo</li>
                </ul>
            </div>
            <div>
                <h3>Desserts</h3>
                <ul>
                    <li>Caramel Cornbread Halawa</li>
                </ul>
            </div>
            <p>We're still thinking of ideas before we start delivery. <a href="mailto:me@ankit.io">Hit us up</a> if you have ideas for some Indo-Blaxican cuisine.</p>
        </div>

        <br>

        <h2>Team</h2>

        <p>We have a team of six specialized culinary artists that will blow your mind with their concoctions. If you think you have what it takes, you should consider joining us.</p>
        <p>Here they are:</p>

        <dl>

            <dt>Ankit Ranjan</dt>
            <dd>Senior Technical Support</dd>
            
            <dt>Sawyer Lythcott-Haims</dt>
            <dd>Supreme Leader of the Little People</dd>

            <dt>Mark Aguilera</dt>
            <dd>Chief Janitorial Officer</dd>

            <dt>Aman Mittal</dt>
            <dd>Head Kebab Flipper</dd>

            <dt>Shannon Yang</dt>
            <dd>Manager of Public Taste</dd>

            <dt>Vidur Thukral</dt>
            <dd>Head Turban Fitter</dd>

        </dl>

        <script>

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-41516705-4', 'indoblaxican.com');
            ga('send', 'pageview');

        </script>
    </body>
</html>