<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="अंकित रंजन">
        <meta name="description" content="कभी सबसे अच्छा भोजन है.">
        <title>भारत और काला मैक्सिकन</title>
        <link rel="stylesheet" href="/css/main.css">
        <script>

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-41516705-4', 'indoblaxican.com');
            ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div>
            <h1>नमस्ते, mis homies.</h1>
            <p><b>भारत और काला मैक्सिकन</b> में आपका स्वागत है. हम खाद्य उद्योग में एक क्रांति कर रहे हैं. वर्तमान में, प्रसव नामित लंच के दौरान पालो अल्टो में <a href="http://gunn.pausd.org/">Gunn</a> और <a href="http://paly.pausd.org/">Paly</a> में जगह लेने के लिए सेट कर रहे हैं. हालांकि, हम विस्तार, तो आप के पास एक भारत और काला मैक्सिकन के लिए बाहर देखने की आशा!</p>
        </div>
        <hr>
        <div>
            <h2>मेनू</h2>
            <div>
                <h3>ऐपेटाइज़र</h3>
                <ul>
                    <li>तरबूज और आम के फल का सलाद</li>
                    <li>साल्सा के साथ हश पिल्ला पकोड़े</li>
                    <li>करी और अवोकेडो के साथ हार्लेम चिप्स</li>
                </ul>
            </div>
            <div>
                <h3>स्नैक्स</h3>
                <ul>
                    <li>करी-तला जाता फ्राइड चिकन रोटी में</li>
                    <li>मैक और पनीर पराठा रोल</li>
                    <li>शीर्ष पर सामान के साथ काले आंखों राजमा</li>
                </ul>
            </div>
            <div>
                <h3>डेसर्ट</h3>
                <ul>
                    <li>कारमेल कॉर्नब्रेड हलावा</li>
                </ul>
            </div>
            <p>हम वितरण शुरू होने से पहले हम अभी भी विचारों के बारे में सोच रहे हैं. आप कुछ भारत और काला मैक्सिकन व्यंजनों के लिए कोई विचार है अगर <a href="mailto:me@ankit.io">हमसे संपर्क करें</a>.</p>
        </div>

        <hr>

        <div>
            <h2>टीम</h2>

            <p>हम उनके concoctions के साथ अपने दिमाग उड़ा देंगे कि छह विशेष पाक कलाकारों की एक टीम है. क्या आप यह क्या लगता है लगता है, तो आप हमारे साथ जुड़ने पर विचार करना चाहिए.</p>
            <p>यहाँ वे हैं:</p>

            <dl>

                <dt>अंकित रंजन</dt>
                <dd>वरिष्ठ तकनीकी सहायता</dd>
                
                <dt>सॉयर</dt>
                <dd>छोटे लोग के सर्वोच्च नेता</dd>

                <dt>मार्क एगुइलेरा</dt>
                <dd>मुख्यमंत्री चौकीदार</dd>

                <dt>अमन मित्तल</dt>
                <dd>हेड कबाब पट्टिका</dd>

                <dt>शैनन यांग</dt>
                <dd>सार्वजनिक स्वाद के प्रबंधक</dd>

                <dt>विदुर</dt>
                <dd>सिर पगड़ी फिटर</dd>

            </dl>
        </div>

        <hr>

        <div>
            <h1>भाषाएँ</h1>
            <p>आप <a href="/">अंग्रेज़ी</a>, <a href="black">अफ्रीकी अमेरिकी</a>, <a href="mexican">स्पेनिश</a> में इस पृष्ठ को देख सकते हैं.</p>
        </div>

        <hr>

        <div style="text-align: center; font-size: 8px;">
            <p>कॉपीराइट 2014 भारत और काला मैक्सिकन.</p>
            <p>भारत और काला मैक्सिकन तकनीकी सहायता टीम से प्यार (और मिर्च का एक बहुत) के साथ बनाया. <3</p>
        </div>
    </body>
</html>